ProviderProject/web/WEB-INF/wsdl/localhost_8080/LauncherWebApplication/FinishLineWSService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://webservice.launcherproject/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.launcherproject/">

<xs:element name="imDone" type="tns:imDone"></xs:element>

<xs:element name="imDoneResponse" type="tns:imDoneResponse"></xs:element>

<xs:complexType name="imDone">
<xs:sequence>
<xs:element name="consumerName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="imDoneResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>