CompositeApplication/src/jbiServiceUnits/CompositeApplication.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="CompositeApplication"
             xmlns:tns="CompositeApplication" xmlns:ns="http://providerPckg/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://beta/">
    <import namespace="http://providerPckg/" location="../jbiasa/localhost_8080/ProviderProject/ProviderWSService.wsdl"/>
    <import namespace="http://beta/" location="../jbiasa/localhost_8080/ConsumerProject/ConsumerWebServiceService.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:ProviderWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="operation">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InterruptedException">
                <soap:fault name="InterruptedException" use="literal"/>
            </fault>
        </operation>
        <operation name="getResults">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startConf">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addConf">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="endConf">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:ConsumerWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getResults">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startConfiguration">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="configurePhase">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="endConfiguration">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startScenario">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CompositeApplicationService">
        <port name="providerPort" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/CompositeApplicationService/providerPort"/>
        </port>
        <port name="consumerPort" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/CompositeApplicationService/consumerPort"/>
        </port>
    </service>
</definitions>

