CompositeApplication/src/jbiasa/localhost_8080/ProviderProject/ProviderWSService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://providerPckg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://providerPckg/">

<xs:element name="InterruptedException" type="tns:InterruptedException"></xs:element>

<xs:element name="addConf" type="tns:addConf"></xs:element>

<xs:element name="addConfResponse" type="tns:addConfResponse"></xs:element>

<xs:element name="endConf" type="tns:endConf"></xs:element>

<xs:element name="endConfResponse" type="tns:endConfResponse"></xs:element>

<xs:element name="getResults" type="tns:getResults"></xs:element>

<xs:element name="getResultsResponse" type="tns:getResultsResponse"></xs:element>

<xs:element name="operation" type="tns:operation"></xs:element>

<xs:element name="operationResponse" type="tns:operationResponse"></xs:element>

<xs:element name="ping" type="tns:ping"></xs:element>

<xs:element name="pingResponse" type="tns:pingResponse"></xs:element>

<xs:element name="startConf" type="tns:startConf"></xs:element>

<xs:element name="startConfResponse" type="tns:startConfResponse"></xs:element>

<xs:complexType name="addConf">
<xs:sequence>
<xs:element name="confNumber" type="xs:int"></xs:element>
<xs:element name="tempsTraitement" type="xs:long"></xs:element>
<xs:element name="tailleReponse" type="xs:long"></xs:element>
<xs:element name="packetLoss" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addConfResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterruptedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startConf">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="startConfResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="endConf">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="endConfResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResults">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getResultsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>