CompositeApplication/src/jbiasa/localhost_8080/ConsumerProject/ConsumerWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://beta/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://beta/" name="ConsumerWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://beta/" schemaLocation="http://localhost:8080/ConsumerProject/ConsumerWebServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getResults">
<part name="parameters" element="tns:getResults"></part>
</message>
<message name="getResultsResponse">
<part name="parameters" element="tns:getResultsResponse"></part>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="startConfiguration">
<part name="parameters" element="tns:startConfiguration"></part>
</message>
<message name="startConfigurationResponse">
<part name="parameters" element="tns:startConfigurationResponse"></part>
</message>
<message name="configurePhase">
<part name="parameters" element="tns:configurePhase"></part>
</message>
<message name="configurePhaseResponse">
<part name="parameters" element="tns:configurePhaseResponse"></part>
</message>
<message name="endConfiguration">
<part name="parameters" element="tns:endConfiguration"></part>
</message>
<message name="endConfigurationResponse">
<part name="parameters" element="tns:endConfigurationResponse"></part>
</message>
<message name="startScenario">
<part name="parameters" element="tns:startScenario"></part>
</message>
<portType name="ConsumerWebService">
<operation name="getResults">
<input message="tns:getResults"></input>
<output message="tns:getResultsResponse"></output>
</operation>
<operation name="ping">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="startConfiguration">
<input message="tns:startConfiguration"></input>
<output message="tns:startConfigurationResponse"></output>
</operation>
<operation name="configurePhase">
<input message="tns:configurePhase"></input>
<output message="tns:configurePhaseResponse"></output>
</operation>
<operation name="endConfiguration">
<input message="tns:endConfiguration"></input>
<output message="tns:endConfigurationResponse"></output>
</operation>
<operation name="startScenario">
<input message="tns:startScenario"></input>
</operation>
</portType>
<binding name="ConsumerWebServicePortBinding" type="tns:ConsumerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getResults">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startConfiguration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="configurePhase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="endConfiguration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startScenario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
</binding>
<service name="ConsumerWebServiceService">
<port name="ConsumerWebServicePort" binding="tns:ConsumerWebServicePortBinding">
<soap:address location="http://localhost:8080/ConsumerProject/ConsumerWebServiceService"></soap:address>
</port>
</service>
</definitions>