LauncherProject/src/META-INF/wsdl/localhost_8080/ProviderProject/ProviderWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://providerPckg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://providerPckg/" name="ProviderWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://providerPckg/" schemaLocation="http://localhost:8080/ProviderProject/ProviderWSService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"></part>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"></part>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"></part>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="startConf">
<part name="parameters" element="tns:startConf"></part>
</message>
<message name="startConfResponse">
<part name="parameters" element="tns:startConfResponse"></part>
</message>
<message name="endConf">
<part name="parameters" element="tns:endConf"></part>
</message>
<message name="endConfResponse">
<part name="parameters" element="tns:endConfResponse"></part>
</message>
<message name="addConf">
<part name="parameters" element="tns:addConf"></part>
</message>
<message name="addConfResponse">
<part name="parameters" element="tns:addConfResponse"></part>
</message>
<portType name="ProviderWS">
<operation name="operation">
<input message="tns:operation"></input>
<output message="tns:operationResponse"></output>
<fault message="tns:InterruptedException" name="InterruptedException"></fault>
</operation>
<operation name="ping">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="startConf">
<input message="tns:startConf"></input>
<output message="tns:startConfResponse"></output>
</operation>
<operation name="endConf">
<input message="tns:endConf"></input>
<output message="tns:endConfResponse"></output>
</operation>
<operation name="addConf">
<input message="tns:addConf"></input>
<output message="tns:addConfResponse"></output>
</operation>
</portType>
<binding name="ProviderWSPortBinding" type="tns:ProviderWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="operation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startConf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="endConf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addConf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ProviderWSService">
<port name="ProviderWSPort" binding="tns:ProviderWSPortBinding">
<soap:address location="http://localhost:8080/ProviderProject/ProviderWSService"></soap:address>
</port>
</service>
</definitions>