CompositeApp/src/jbiasa/CompositeApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="CompositeApp"
             xmlns:tns="CompositeApp" xmlns:ns="http://beta/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <import namespace="http://beta/" location="../jbiasa/localhost_8080/ConsumerProject/ConsumerWebServiceService.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:ConsumerWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startConfiguration">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="configurePhase">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="endConfiguration">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startScenario">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CompositeAppService1">
        <port name="consumerPort" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/CompositeAppService/consumerPort"/>
        </port>
    </service>
</definitions>

